/* Assuming you have a font file at public/fonts/Roboto-Regular.ttf */
@font-face {
    font-family: 'Trapp';
    src: url('/font/Trap.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

.backgroundImage {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.25;
    background: url('/assets/images/airpods.png');
    background-repeat: repeat;
    background-size: 30px;
}



.centerText {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

.title {
    font-size: 60px;
    font-family: 'Trapp', sans-serif;
    text-align: center;
}

.email {
    font-size: 20px;
    font-family: 'Trapp', sans-serif;
    text-align: center;
}
